---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hmesander/orgs?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 17705e62a4ffc8e0acc2263fb6798fae9c1ce022
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1530804372'
      Etag:
      - W/"866570f2b608d75983d034cb7df66159"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"test-org-18973","id":40840559,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwODQwNTU5","url":"https://api.github.com/orgs/test-org-18973","repos_url":"https://api.github.com/orgs/test-org-18973/repos","events_url":"https://api.github.com/orgs/test-org-18973/events","hooks_url":"https://api.github.com/orgs/test-org-18973/hooks","issues_url":"https://api.github.com/orgs/test-org-18973/issues","members_url":"https://api.github.com/orgs/test-org-18973/members{/member}","public_members_url":"https://api.github.com/orgs/test-org-18973/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/40840559?v=4","description":null}]'
  recorded_at: Thu, 05 Jul 2018 14:38:51 GMT
- request:
    method: get
    uri: https://api.github.com/users/hmesander/orgs?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 17705e62a4ffc8e0acc2263fb6798fae9c1ce022
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1530804372'
      Etag:
      - W/"866570f2b608d75983d034cb7df66159"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"test-org-18973","id":40840559,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwODQwNTU5","url":"https://api.github.com/orgs/test-org-18973","repos_url":"https://api.github.com/orgs/test-org-18973/repos","events_url":"https://api.github.com/orgs/test-org-18973/events","hooks_url":"https://api.github.com/orgs/test-org-18973/hooks","issues_url":"https://api.github.com/orgs/test-org-18973/issues","members_url":"https://api.github.com/orgs/test-org-18973/members{/member}","public_members_url":"https://api.github.com/orgs/test-org-18973/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/40840559?v=4","description":null}]'
  recorded_at: Thu, 05 Jul 2018 14:38:52 GMT
recorded_with: VCR 4.0.0
