---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hmesander/events?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 17705e62a4ffc8e0acc2263fb6798fae9c1ce022
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1530804372'
      Etag:
      - W/"167077348de31c397fd8a262f5035168"
      Last-Modified:
      - Wed, 04 Jul 2018 21:42:26 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/33385692/events?per_page=100&page=2>; rel="next",
        <https://api.github.com/user/33385692/events?per_page=100&page=3>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7920170940","type":"DeleteEvent","actor":{"id":33385692,"login":"hmesander","display_login":"hmesander","gravatar_id":"","url":"https://api.github.com/users/hmesander","avatar_url":"https://avatars.githubusercontent.com/u/33385692?"},"repo":{"id":139501236,"name":"hmesander/api-curious","url":"https://api.github.com/repos/hmesander/api-curious"},"payload":{"ref":"orgs","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2018-07-04T21:42:26Z"},{"id":"7920170827","type":"PushEvent","actor":{"id":33385692,"login":"hmesander","display_login":"hmesander","gravatar_id":"","url":"https://api.github.com/users/hmesander","avatar_url":"https://avatars.githubusercontent.com/u/33385692?"},"repo":{"id":139501236,"name":"hmesander/api-curious","url":"https://api.github.com/repos/hmesander/api-curious"},"payload":{"push_id":2695464652,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"777fa6d823557d7ed148d5d2b5945fd890c89103","before":"96104120863e5a9a9691e3925cbbcf6af51f473b","commits":[{"sha":"f3d3a83c354798058bc9be00830e5c36866cd574","author":{"email":"haleymesander@gmail.com","name":"hmesander"},"message":"WIP
        Adds ability to see a list of organizations for a user --no testing","distinct":false,"url":"https://api.github.com/repos/hmesander/api-curious/commits/f3d3a83c354798058bc9be00830e5c36866cd574"},{"sha":"777fa6d823557d7ed148d5d2b5945fd890c89103","author":{"email":"33385692+hmesander@users.noreply.github.com","name":"Haley
        Mesander"},"message":"Merge pull request #6 from hmesander/orgs\n\nUser Organizations","distinct":true,"url":"https://api.github.com/repos/hmesander/api-curious/commits/777fa6d823557d7ed148d5d2b5945fd890c89103"}]},"public":true,"created_at":"2018-07-04T21:42:23Z"},{"id":"7920170809","type":"PullRequestEvent","actor":{"id":33385692,"login":"hmesander","display_login":"hmesander","gravatar_id":"","url":"https://api.github.com/users/hmesander","avatar_url":"https://avatars.githubusercontent.com/u/33385692?"},"repo":{"id":139501236,"name":"hmesander/api-curious","url":"https://api.github.com/repos/hmesander/api-curious"},"payload":{"action":"closed","number":6,"pull_request":{"url":"https://api.github.com/repos/hmesander/api-curious/pulls/6","id":199326620,"node_id":"MDExOlB1bGxSZXF1ZXN0MTk5MzI2NjIw","html_url":"https://github.com/hmesander/api-curious/pull/6","diff_url":"https://github.com/hmesander/api-curious/pull/6.diff","patch_url":"https://github.com/hmesander/api-curious/pull/6.patch","issue_url":"https://api.github.com/repos/hmesander/api-curious/issues/6","number":6,"state":"closed","locked":false,"title":"User
        Organizations","user":{"login":"hmesander","id":33385692,"node_id":"MDQ6VXNlcjMzMzg1Njky","avatar_url":"https://avatars0.githubusercontent.com/u/33385692?v=4","gravatar_id":"","url":"https://api.github.com/users/hmesander","html_url":"https://github.com/hmesander","followers_url":"https://api.github.com/users/hmesander/followers","following_url":"https://api.github.com/users/hmesander/following{/other_user}","gists_url":"https://api.github.com/users/hmesander/gists{/gist_id}","starred_url":"https://api.github.com/users/hmesander/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hmesander/subscriptions","organizations_url":"https://api.github.com/users/hmesander/orgs","repos_url":"https://api.github.com/users/hmesander/repos","events_url":"https://api.github.com/users/hmesander/events{/privacy}","received_events_url":"https://api.github.com/users/hmesander/received_events","type":"User","site_admin":false},"body":"Adds
        ability to see a list of organizations for a user --no testing","created_at":"2018-07-04T21:42:17Z","updated_at":"2018-07-04T21:42:22Z","closed_at":"2018-07-04T21:42:22Z","merged_at":"2018-07-04T21:42:22Z","merge_commit_sha":"777fa6d823557d7ed148d5d2b5945fd890c89103","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/hmesander/api-curious/pulls/6/commits","review_comments_url":"https://api.github.com/repos/hmesander/api-curious/pulls/6/comments","review_comment_url":"https://api.github.com/repos/hmesander/api-curious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/hmesander/api-curious/issues/6/comments","statuses_url":"https://api.github.com/repos/hmesander/api-curious/statuses/f3d3a83c354798058bc9be00830e5c36866cd574","head":{"label":"hmesander:orgs","ref":"orgs","sha":"f3d3a83c354798058bc9be00830e5c36866cd574","user":{"login":"hmesander","id":33385692,"node_id":"MDQ6VXNlcjMzMzg1Njky","avatar_url":"https://avatars0.githubusercontent.com/u/33385692?v=4","gravatar_id":"","url":"https://api.github.com/users/hmesander","html_url":"https://github.com/hmesander","followers_url":"https://api.github.com/users/hmesander/followers","following_url":"https://api.github.com/users/hmesander/following{/other_user}","gists_url":"https://api.github.com/users/hmesander/gists{/gist_id}","starred_url":"https://api.github.com/users/hmesander/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hmesander/subscriptions","organizations_url":"https://api.github.com/users/hmesander/orgs","repos_url":"https://api.github.com/users/hmesander/repos","events_url":"https://api.github.com/users/hmesander/events{/privacy}","received_events_url":"https://api.github.com/users/hmesander/received_events","type":"User","site_admin":false},"repo":{"id":139501236,"node_id":"MDEwOlJlcG9zaXRvcnkxMzk1MDEyMzY=","name":"api-curious","full_name":"hmesander/api-curious","owner":{"login":"hmesander","id":33385692,"node_id":"MDQ6VXNlcjMzMzg1Njky","avatar_url":"https://avatars0.githubusercontent.com/u/33385692?v=4","gravatar_id":"","url":"https://api.github.com/users/hmesander","html_url":"https://github.com/hmesander","followers_url":"https://api.github.com/users/hmesander/followers","following_url":"https://api.github.com/users/hmesander/following{/other_user}","gists_url":"https://api.github.com/users/hmesander/gists{/gist_id}","starred_url":"https://api.github.com/users/hmesander/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hmesander/subscriptions","organizations_url":"https://api.github.com/users/hmesander/orgs","repos_url":"https://api.github.com/users/hmesander/repos","events_url":"https://api.github.com/users/hmesander/events{/privacy}","received_events_url":"https://api.github.com/users/hmesander/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hmesander/api-curious","description":null,"fork":false,"url":"https://api.github.com/repos/hmesander/api-curious","forks_url":"https://api.github.com/repos/hmesander/api-curious/forks","keys_url":"https://api.github.com/repos/hmesander/api-curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hmesander/api-curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hmesander/api-curious/teams","hooks_url":"https://api.github.com/repos/hmesander/api-curious/hooks","issue_events_url":"https://api.github.com/repos/hmesander/api-curious/issues/events{/number}","events_url":"https://api.github.com/repos/hmesander/api-curious/events","assignees_url":"https://api.github.com/repos/hmesander/api-curious/assignees{/user}","branches_url":"https://api.github.com/repos/hmesander/api-curious/branches{/branch}","tags_url":"https://api.github.com/repos/hmesander/api-curious/tags","blobs_url":"https://api.github.com/repos/hmesander/api-curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hmesander/api-curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hmesander/api-curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/hmesander/api-curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hmesander/api-curious/statuses/{sha}","languages_url":"https://api.github.com/repos/hmesander/api-curious/languages","stargazers_url":"https://api.github.com/repos/hmesander/api-curious/stargazers","contributors_url":"https://api.github.com/repos/hmesander/api-curious/contributors","subscribers_url":"https://api.github.com/repos/hmesander/api-curious/subscribers","subscription_url":"https://api.github.com/repos/hmesander/api-curious/subscription","commits_url":"https://api.github.com/repos/hmesander/api-curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/hmesander/api-curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/hmesander/api-curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/hmesander/api-curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/hmesander/api-curious/contents/{+path}","compare_url":"https://api.github.com/repos/hmesander/api-curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hmesander/api-curious/merges","archive_url":"https://api.github.com/repos/hmesander/api-curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hmesander/api-curious/downloads","issues_url":"https://api.github.com/repos/hmesander/api-curious/issues{/number}","pulls_url":"https://api.github.com/repos/hmesander/api-curious/pulls{/number}","milestones_url":"https://api.github.com/repos/hmesander/api-curious/milestones{/number}","notifications_url":"https://api.github.com/repos/hmesander/api-curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hmesander/api-curious/labels{/name}","releases_url":"https://api.github.com/repos/hmesander/api-curious/releases{/id}","deployments_url":"https://api.github.com/repos/hmesander/api-curious/deployments","created_at":"2018-07-02T22:30:28Z","updated_at":"2018-07-04T20:54:20Z","pushed_at":"2018-07-04T21:42:22Z","git_url":"git://github.com/hmesander/api-curious.git","ssh_url":"git@github.com:hmesander/api-curious.git","clone_url":"https://github.com/hmesander/api-curious.git","svn_url":"https://github.com/hmesander/api-curious","homepage":null,"size":39,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"hmesander:master","ref":"master","sha":"96104120863e5a9a9691e3925cbbcf6af51f473b","user":{"login":"hmesander","id":33385692,"node_id":"MDQ6VXNlcjMzMzg1Njky","avatar_url":"https://avatars0.githubusercontent.com/u/33385692?v=4","gravatar_id":"","url":"https://api.github.com/users/hmesander","html_url":"https://github.com/hmesander","followers_url":"https://api.github.com/users/hmesander/followers","following_url":"https://api.github.com/users/hmesander/following{/other_user}","gists_url"[...]
