---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hmesander/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 17705e62a4ffc8e0acc2263fb6798fae9c1ce022
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1530804372'
      Etag:
      - W/"f2031c7e63c347d5601bb04241a0ce5c"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":127494014,"node_id":"MDEwOlJlcG9zaXRvcnkxMjc0OTQwMTQ=","name":"2win_playlist","full_name":"hmesander/2win_playlist","owner":{"login":"hmesander","id":33385692,"node_id":"MDQ6VXNlcjMzMzg1Njky","avatar_url":"https://avatars0.githubusercontent.com/u/33385692?v=4","gravatar_id":"","url":"https://api.github.com/users/hmesander","html_url":"https://github.com/hmesander","followers_url":"https://api.github.com/users/hmesander/followers","following_url":"https://api.github.com/users/hmesander/following{/other_user}","gists_url":"https://api.github.com/users/hmesander/gists{/gist_id}","starred_url":"https://api.github.com/users/hmesander/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hmesander/subscriptions","organizations_url":"https://api.github.com/users/hmesander/orgs","repos_url":"https://api.github.com/users/hmesander/repos","events_url":"https://api.github.com/users/hmesander/events{/privacy}","received_events_url":"https://api.github.com/users/hmesander/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hmesander/2win_playlist","description":null,"fork":true,"url":"https://api.github.com/repos/hmesander/2win_playlist","forks_url":"https://api.github.com/repos/hmesander/2win_playlist/forks","keys_url":"https://api.github.com/repos/hmesander/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hmesander/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hmesander/2win_playlist/teams","hooks_url":"https://api.github.com/repos/hmesander/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/hmesander/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/hmesander/2win_playlist/events","assignees_url":"https://api.github.com/repos/hmesander/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/hmesander/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/hmesander/2win_playlist/tags","blobs_url":"https://api.github.com/repos/hmesander/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hmesander/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hmesander/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/hmesander/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hmesander/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/hmesander/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/hmesander/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/hmesander/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/hmesander/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/hmesander/2win_playlist/subscription","commits_url":"https://api.github.com/repos/hmesander/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/hmesander/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/hmesander/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/hmesander/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/hmesander/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/hmesander/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hmesander/2win_playlist/merges","archive_url":"https://api.github.com/repos/hmesander/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hmesander/2win_playlist/downloads","issues_url":"https://api.github.com/repos/hmesander/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/hmesander/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/hmesander/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/hmesander/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hmesander/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/hmesander/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/hmesander/2win_playlist/deployments","created_at":"2018-03-31T03:03:45Z","updated_at":"2018-04-02T14:06:19Z","pushed_at":"2018-04-02T14:06:18Z","git_url":"git://github.com/hmesander/2win_playlist.git","ssh_url":"git@github.com:hmesander/2win_playlist.git","clone_url":"https://github.com/hmesander/2win_playlist.git","svn_url":"https://github.com/hmesander/2win_playlist","homepage":null,"size":1232,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":128257460,"node_id":"MDEwOlJlcG9zaXRvcnkxMjgyNTc0NjA=","name":"activerecord_deliberate_practice","full_name":"hmesander/activerecord_deliberate_practice","owner":{"login":"hmesander","id":33385692,"node_id":"MDQ6VXNlcjMzMzg1Njky","avatar_url":"https://avatars0.githubusercontent.com/u/33385692?v=4","gravatar_id":"","url":"https://api.github.com/users/hmesander","html_url":"https://github.com/hmesander","followers_url":"https://api.github.com/users/hmesander/followers","following_u[...]
[...]
