<h1><%= current_user.name %>'s Profile Information</h1>
<img src=<%= current_user.avatar_url %><br>
<h3>Number of Followers: <%= current_user.follower_count %></h3>
<h3>Number of People Following: <%= current_user.following_count %></h3>
